/* Auth Page Styles */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f5f5f5;
}

.auth-card {
  position: relative;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(97, 9, 9, 0.808);
  transition: 0.5s;
}

.auth-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 2px 8px rgba(27, 27, 27, 0.644);
}

.auth-card h1 {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 1.5rem;
}

.auth-card input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 1rem;
}

.auth-card button {
  width: 100%;
  padding: 0.8rem;
  background: #000;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 0.5rem;
}

.auth-footer {
  margin-top: 1.5rem;
  color: #666;
}

.auth-footer a {
  color: #d40000;
  text-decoration: none;
}
/* Extra designs */
span {
  color: #d40000;
}

